- name: Criar objeto e aplicar regra no Juniper SRX
  hosts: juniper_srx
  gather_facts: no
  vars:
    nome_objeto: "{{ nome_objeto }}"
    novo_ip: "{{ novo_ip }}"
  tasks:
    - name: Criar objeto no address-book
      junos_config:
        lines:
          - "set security zones security-zone WAN_MPLS address-book address {{ nome_objeto }} {{ novo_ip }}"
        confirm: yes

    - name: Adicionar objeto à política existente
      junos_config:
        lines:
          - "set security policies from-zone DATACENTER to-zone WAN_MPLS policy ACESSO_SENHASEGURA_AZURE match destination-address {{ nome_objeto }}"
        confirm: yes
